Source: sanji-bundle-cellular
Priority: extra
Maintainer: TC Huang <tc.huang@moxa.com>
Build-Depends: debhelper (>= 8.0.0)
Build-Depends-Indep: python (>= 2.7)
Standards-Version: 3.9.3
Section: libs
Homepage: http://www.moxa.com
#Vcs-Git:
#Vcs-Browser: https://github.com/Sanji-IO/sanji-cellular
X-Python-Version: >= 2.5

Package: sanji-bundle-cellular
Section: libs
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends},
         python2.7,
         python-pip,
         vnstat (>= 1.12-2),
         iputils-ping,
         moxa-cellular-utils (>= 1.20.0)
Description: This model provides cellular using QMI.

